.sb-sidenav-light {
    background-color: #f8f9fa;
    color: #212529;
}

.sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: #adb5bd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link {
    color: #212529;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: #adb5bd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: #adb5bd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
    color: #0d6efd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active {
    color: #0d6efd;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    color: #0d6efd;
}

.sb-sidenav-light .sb-sidenav-footer {
    background-color: #e9ecef;
}
